@mixin font-style($weight: 400, $size: 18px, $height: 30px) {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin flex($justify-content: space-between) {
  display: flex;
  justify-content: $justify-content;
}

@mixin overflow($rows: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $rows;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

@mixin research-card-before ($background-image: url("../img/Lab/project.png")) {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 255px;
  height: 430px;
  background-image: $background-image;
  background-size: cover ;
  border-radius: $border-radius-desktop;
  background-repeat: no-repeat;
  z-index: -1;

  @media (max-width: 1180px) {
    width: 150px;
    height: 242px;
  }

  @media (max-width: 1180px) {
    width: 140px;
    height: 224px;
  }
}

@mixin text-italic-color () {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $color-emerland;
}