.cards {
  position: relative;
  box-sizing: border-box;
  width: 348px;
  height: 340px;
  background: #E0F0FF;
  border-radius: $border-radius-desktop;
  padding: $padding-inside-card;
  flex-shrink: 0;
  margin-top: 15px;
  margin-right: 10px;
}

@media (max-width: 1023px) {
  .cards  {
    width: 330px;
    height: 330px;
  }
}

@media (max-width: 767px) {
  .cards  {
    width: 288px;
    height: 250px;
    border-radius: 5px;
    padding: 16px;
  }
}

.cards__date {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #009FAC;
  margin: 0;
}

@media (max-width: 767px) {
  .cards__date  {
    font-size: 12px;
    line-height: 17px;
  }
}


.cards__title {
  max-width: 308px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #001337;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  margin: 8px 0 0 0;
  padding: 0;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .cards__title  {
    font-size: 14px;
    line-height: 19px;
  }
}

.cards__line-and-pin {
  margin: 20px 0;
  border-top: 1px solid #009FAC;
}


@media (max-width: 767px) {
  .cards__line-and-pin  {
    margin: 12px 0;
  }
}

.cards__line-and-pin::after {
  content: '';
  position: absolute;
  width: 29px;
  height: 41px;
  background-image: url('../img/icons/pin.svg');
  background-repeat: no-repeat;
  top: -15px;
  right: -8px;
}

.cards__text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000D26;
  margin: 0 0 0 0;
  @include overflow($rows: 7);
}

@media (max-width: 767px) {
  .cards__text {
    font-size: 12px;
    line-height: 16px;
  }
}


.cards_publication {
  background-color: #FFFFFF;
  overflow: hidden;
  height: 548px;
  box-shadow: 0 4px 20px rgba(1, 54, 157, 0.15);
}

@media (max-width: 1023px) {
  .cards_publication {
    height: 515px;
  }
}

@media (max-width: 767px) {
  .cards_publication {
    height: 462px;
  }
}


.cards__image {
  width: 310px;
  height: 223px;
  margin-bottom: 10px;
  transition: 0.3s height ease;
}

@media (max-width: 1023px) {
  .cards__image {
    width: 291px;
    height: 158px;
    margin-bottom: 10px;
    transition: none;
  }
}

@media (max-width: 767px) {
  .cards__image {
    width: 256px;
    height: 160px;
  }
}
.cards__title_lowercase {
  text-transform: none;
  -webkit-line-clamp: 2;
}

@media (max-width: 767px) {
  .cards__title_lowercase {
    margin-top: 0;
  }
}

.cards__authors {
  height: 38px;
  @include text-italic-color();
  margin: 4px 0 20px 0;
  @include overflow($rows: 2);
}

@media (max-width: 1023px) {
  .cards__authors {
    margin: 5px 0 10px 0;
  }
}

@media (max-width: 767px) {
  .cards__authors {
    height: 34px;
    font-size: 12px;
    line-height: 17px;
  }
}

.cards__link {
  display: none;
  width: 348px;
  height: 70px;
  background: #009FAC;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  padding: 20px;
  vertical-align: center;
  justify-content: space-between;
  margin: 25px 0 -30px -20px;
}

@media (max-width: 1023px) {
  .cards__link {
    display: flex;
    height: 60px;
    width: 330px;
    margin-top: 10px;
    padding: 15px 15px 15px 20px;
    position: relative;
  }
}

@media (max-width: 767px) {
  .cards__link  {
    width: 288px;
    height: 44px;
    border-radius: 0 0 5px 5px;
    padding: 12px 16px;
    margin: 14px 0 -16px -16px;
  }
}

.cards__link-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 0;
  position: relative;
  text-decoration: none;
}

.cards__link-text:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .cards__link-text {
    font-size: 14px;
    line-height: 19px;
    /*margin-bottom: 10px;*/
  }
}


.cards__link-text::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../img/icons/arrow.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotate(180deg);
  top: calc(50% - 12px);
  right: -36px;
}

.cards__link-social {
  width: 24px;
  height: 24px;
  background-image: url('../img/icons/icon-social.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
}


.cards__link-social:hover {
  opacity: 0.5;
}

@media (min-width: 1023px) {
  .cards_publication:hover > .cards__image {
    height: 158px;
    object-fit: cover;
    border-radius: 10px;
  }

  .cards_publication:hover .cards__link {
    display: flex;
  }
}

.cards_team {
  background-color: #FFFFFF;
  width: 255px;
  height: 439px;
}

.cards__image_team {
  width: 215px;
  height: 286px;
}

.cards_project {
  width: 254px;
  height: 307px;
  background-color: $color-emerland;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
}

.cards_project::before {
  width: 254px;
  height: 307px;
  content: '';
  position: absolute;
  background-image: url("../img/Projects/project_gazprom.png");
  z-index: -1;
  background-size: cover;
  top: 0;
  left: 0;
}

.cards__text_projects {
  margin: 20px 0;
}

.cards__text_projects {
  @include font-style($weight: 400, $size: 14px, $height: 20px, $color: $color-white);
}

.cards__link-details {
  @include font-style($weight: 600, $size: 14px, $height: 19px, $color: $color-white);
  text-decoration: none;
  margin: 0;
}

.projects__swiper-slide {
  width: 254px;
  height: 307px;
}