.education {
    max-width: 100%;
    background-color: $color-emerland;
    //padding: 80px 136px;
}

.education__text {
  max-width: 920px;
  @include font-style();
  letter-spacing: 0.1px;
  margin: 30px auto 60px auto;
}

.education__block {
  @include flex();
  max-width: 1169px;
  background-color: $color-white;
  border-radius: $border-radius-desktop;
  padding: 30px;
  gap: 30px;
  margin-bottom: 35px;
}

.education__list-wrapper {
  @include flex();
  flex-direction: column;
}

.education__subtitle {
  color: $color-darkBlue;
  @include font-style($weight:600);
  margin: 0;
}

.education__list {
  padding-left: 26px;
}

.education__item {
  color: $color-darkBlue;
  @include font-style();
}

.education__link-list {
  color: $color-darkBlue;
  @include font-style($weight:600, $height: 20px);
  text-decoration: none;
  margin-top: 20px;
  position: relative;
  max-width: min-content;
}

.education__link-list::after{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../img/icons/arrow-dark.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotate(180deg);
  top: calc(50% - 12px);
  right: -36px;
}

.education__image {
  width: 445px;
  height: 364px;
}

.education__buttons {
  width: 540px;
  height: 60px;
  border: 1px solid $color-lightBlue;
  border-radius: $border-radius-desktop;
  @include flex();
  margin: 0 auto;
}

.education__button {
  color: $color-lightBlue;
  width: 279px;
  background-color: transparent;
  border-radius: $border-radius-desktop;
  border: none;
  @include font-style($weight: 600);
  text-transform: uppercase;
}

.education__button:hover {
  cursor: pointer;
}

.education__button_hidden {
  color: $color-darkBlue;
  background-color: $color-lightBlue;
  @include font-style($weight: 600);
}

.hidden {
  display: none;
}