.form-feedback {
  width: 1113px;
  margin: 60px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-auto-rows: min-content;
  row-gap: 20px;
  column-gap: 30px;
}

.form-feedback__field {
  padding-left: 20px;
  box-sizing: border-box;
  width: 352px;
  height: 60px;
  border-radius: $border-radius-desktop;
  border: none;
  @include font-style($height: 28px, $color: $color-emerland);
}

.form-feedback__field::-webkit-input-placeholder {
  color: $color-emerland;
}

.form-feedback__field_textarea {
  height: 140px;
  display: block;
  grid-row: span 2;
  padding-top: 20px;
}

.form-feedback__button {
  width: 352px;
  height: 60px;
  border-radius: $border-radius-desktop;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  @include font-style($weight: 600, $color: $color-white);
  text-transform: uppercase;
  margin: 30px auto 0 auto;
  grid-column: 2/2;
}