.news {
    display: flex;
    max-width: 1440px;
    justify-content: center !important;
    position: relative;
    padding-bottom: 50px;
    margin: 0 auto;
}

@media (max-width: 1023px) {
    .news {
        padding: 0 10px 40px 20px;
    }
}

@media (max-width: 767px) {
    .news {
        padding: 0 0 30px 0;
    }
}
