.popup {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.popup_social-block {
  background-color: transparent;
}

.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.popup__container_social-block {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 184px;
  height: 60px;
  background-color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 17px;
  box-sizing: border-box;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 20px rgba(73, 111, 168, 0.15));
  margin: 0;
}

.popup__container_social-block:after {
  content: '';
  position: absolute;
  left: calc(50% - 16px/2);
  bottom: -16px;
  border: 8px solid transparent;
  border-top: 8px solid white;
}

.popup__social-icon {
  margin-right: 10px;
}

.popup__social-icon:hover {
  opacity: 0.5;
}

.popup_research {
  background-color: rgba(0, 13, 38, 0.6);
  z-index: 10;
  transition: all .5s ease;
}

.popup__container_research {
  @include flex();
  background-color: $color-white;
  width: 1110px;
  position: relative;
  min-height: 718px;
  padding: 20px;
  border-radius: $border-radius-desktop;
  box-sizing: border-box;
  gap: 20px;

  @media (max-width: 1279px) {
    width: 690px;
    min-height: 454px;
  }

  @media (max-width: 767px) {
    @include flex();
    flex-direction: column;
    max-width: 300px;
    min-height: 444px;
    padding: 16px;
    gap: 10px;
  }
}

.popup__image-research {
  width: 400px;
  height: 678px;
  border-radius: $border-radius-desktop;
  object-fit: cover;

  @media (max-width: 1279px) {
    width: 199px;
    height: 414px;
  };

  @media (max-width: 767px) {
    width: 268px;
    height: 160px;
    order: 3;
  };
}

.popup__texts {
  max-width: 650px;
  order: 2;
}

.popup__title {
  color: $color-darkBlue;
  margin: 5px 0 25px 0;

  @include font-style($weight: 600);

  @media (max-width: 1279px) {
    @include font-style($weight: 600, $size: 14px, $height: 19px);
    order: 1;
  }
}

.popup__text,
.popup__list-research {
  color: $color-darkBlue;
  @include font-style($weight: 400, $size: 18px, $height: 24.5px);

  @media (max-width: 1279px) {
    @include font-style($size: 14px, $height: 19px);
  };

  @media (max-width: 767px) {
    @include font-style($size: 12px, $height: 16.5px);
  };
}

.popup__list-research {
  margin: 0;
  @media (max-width: 1279px) {
    padding-left: 20px;
  };
}

.popup__text {
  margin: 0;
}

.popup__text_hidden-tab {
  @media (max-width: 1279px) {
    display: none;
  }
}

.popup__text_hidden-mobile {
  margin: 25px 0 25px 0;
  @media (max-width: 767px) {
    display: none;
  }
}

.popup__button_close {
  position: absolute;
  content: '';
  top: 16px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-image: url("../img/icons/close.svg");
  border: none;
  background-color: transparent;
  background-size: contain;
  opacity: 1;
  transition: opacity 0.3s ease;


  @media (max-width: 1279px) {
    width: 32px;
    height: 32px;
  };

  @media (max-width: 767px) {
    right: 16px;
    width: 24px;
    height: 24px;
  };
}

.popup__button_close:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
