.popup {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  /*transition: all .5s ease;*/
  visibility: hidden;
  z-index: 1;
}

.popup_social-block {
  background-color: transparent;
}

.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.popup__container_social-block {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 184px;
  height: 60px;
  background-color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 17px;
  box-sizing: border-box;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 20px rgba(73, 111, 168, 0.15));
  margin: 0;
}

.popup__container_social-block:after {
  content: '';
  position: absolute;
  left: calc(50% - 16px/2);
  bottom: -16px;
  border: 8px solid transparent;
  border-top: 8px solid white;
}

.popup__social-icon {
  margin-right: 10px;
}

.popup__social-icon:hover {
  opacity: 0.5;
}

.popup_research {
  background-color: rgba(0, 13, 38, 0.6);
  z-index: 10;
}

.popup__container_research {
  @include flex();
  background-color: $color-white;
  width: 1110px;
  //max-width: 1110px;
  min-height: 718px;
  padding: 20px;
  border-radius: $border-radius-desktop;
  box-sizing: border-box;

  @media (max-width: 1279px) {
    max-width: 690px;
    min-height: 454px;
  }

  @media (max-width: 767px) {
    @include flex();
    flex-direction: column;
    max-width: 300px;
    min-height: 444px;
    padding: 16px;
  }
}

.popup__image-research {
  width: 400px;
  height: 678px;
  border-radius: $border-radius-desktop;
  object-fit: cover;

  @media (max-width: 1279px) {
    width: 199px;
    height: 414px;
  };

  @media (max-width: 767px) {
    width: 268px;
    height: 160px;
  };
}

.popup__texts {
  max-width: 650px;
}

.popup__title {
  @include font-style($weight: 600, $color: $color-darkBlue);
  margin: 0;

  @media (max-width: 1279px) {
    @include font-style($weight: 600, $size: 14px, $height: 19px, $color: $color-darkBlue);
  }
}

.popup__text,
.popup__list-research {
  @include font-style($weight: 400, $size: 18px, $height: 24.5px, $color: $color-darkBlue);

  @media (max-width: 1279px) {
    @include font-style($size: 14px, $height: 19px, $color: $color-darkBlue);
  };

  @media (max-width: 767px) {
    @include font-style($size: 12px, $height: 16.5px, $color: $color-darkBlue);
  };
}

.popup__list-research {
  @media (max-width: 767px) {
    padding-left: 20px;
  }
}

.popup__text_hidden-tab {
  @media (max-width: 1279px) {
    display: none;
  }
}


.popup__text_hidden-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}

//.popup__text_hidden-tab
//.popup__list-research {
//
//}