.projects {
  max-width: 1440px;
  background-color: $color-deepBlue;
  //padding: 80px 0 60px 0;
  @include flex();
  flex-direction: column;
  align-items: center;
}

.projects__list {
  width: 100%;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.projects__item {
  @include font-style($size: 16px, $height: 22px);
  text-transform: uppercase;
  width: 278px;
  text-align: center;
  border-bottom: 5px solid transparent;
 }

.projects__item:hover {
  border-bottom: 5px solid $color-emerland;
}

.projects-block {
}

.projects-block__control {
  margin: 0 auto;
  max-width: 224px;
  @include flex();
  margin-top: 30px;
}