.research {
  max-width: 100%;
  background-color: $color-lightBlue;
  padding: 80px 165px 80px 129px;
}

.research__wrapper-texts {
  width: 1146px;
  @include flex;
  margin: 60px 0 80px 0;
}

.research__text {
  @include font-style($color: $color-darkBlue);
  max-width: 540px;
  letter-spacing: 0.1px;
  padding-left: 36px;
  margin: 0;
}

.research__text:last-of-type {
  @include font-style($weight: 300, $size: 18px, $height: 26px, $color: $color-darkBlue);
  letter-spacing: 0.1px;
  position: relative;
  margin-top: 25px;
}

.research__text:last-of-type::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  background-image: url('../img/Lab/molecule.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.research__images {
  @include flex();
  gap: 12px;
  max-width: 552px;
}

.research__image {
  width: 264px;
  height: 276px;
}

.research__grid {
  max-width: 1110px;
  list-style: none;
  @include flex();
  gap: 30px;
  margin: 0 auto;
  padding-left: 35px;
}

.research__card {
  box-sizing: border-box;
  width: 255px;
  height: 430px;
  box-shadow: $card-shadow;
  padding: 12px 20px 20px 20px;
  @include flex();
  flex-direction: column;
  align-items: center;
  border-radius: $border-radius-desktop;
  z-index: 1;
  transform: translateY(0px);
  transition: transform 0.6s ease;
}

.research__card:hover {
  transform: translateY(-20px);
  background-color: $color-emerland;
  transition: transform 0.6s ease;
}


  .research__card-title {
  @include font-style($weight: 600, $color: $color-deepBlue);
  text-align: center;
}

.research__card-title-calculations {
   max-width: 112px;
}

.research__card-title-qa {
  max-width: 80px;
}

.research__icon {
  margin-bottom: 10px;
}

.research__card-text {
  @include font-style($size: 14px, $height: 20px, $color: $color-deepBlue);
  text-align: center;
  margin: 0 0 32px 0;
}

.research__link {
  @include font-style($size: 14px, $height: 20px, $color: $color-deepBlue);
  width: 215px;
  height: 40px;
  border: 1px solid $color-deepBlue;
  border-radius: $border-radius-desktop;
  text-decoration: none;
  @include flex(center);
  align-items: center;
  flex-direction: column;
}

.research__card-analysis,
.research__card-big-data,
.research__card-calculations,
.research__card-qa {
  position: relative;

}

.research__card-analysis::before {
   @include research-card-before;
}

.research__card-big-data::before {
  @include research-card-before(url("../img/Lab/Machine_learning.png"));
}

.research__card-calculations::before {
  @include research-card-before(url("../img/Lab/Data.png"));
}

.research__card-qa::before {
  @include research-card-before(url("../img/Lab/Robot.png"));
}

//.research__card-analysis:hover {
//  transform: translateY(-20px);
//  transition: transform, background-color 0.3s ease;
//}

.research__card::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 255px;
  height: 430px;
  background: $color-gradient-biege;
  border-radius: $border-radius-desktop;
  z-index: -1;
  transition: background 0.6s ease;
}

.research__card:hover::after {
  background: linear-gradient(180deg, #009FAC 0%, rgba(224, 240, 255, 0) 100%, rgba(0, 159, 172, 0) 100%);
  transition: background 0.6s ease;

}

.research__card:hover > .research__card-title,
.research__card:hover > .research__card-text {
  color: $color-white;
}

.research__card:hover > .research__link {
  color: $color-white;
  border: solid 1px $color-white;
}