.team {
  max-width: 1440px;
  min-height: 595px;
  background-image: linear-gradient($color-lightBlue 43.25%, $color-deepBlue 43.25%);
  //padding: 6px 0 78px 0;
}

.team__wrapper{
  @include flex();
  position: relative;
  padding-bottom: 40px;
}

.team__swiper-slide {
  width: 255px;
  height: 450px;
}

.team__card {
@include flex();
  flex-direction: column;
  align-items: center;
  width: 255px;
  height: 440px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius: $border-radius-desktop;
  padding: $padding-inside-card;
  flex-shrink: 0;
  margin: 15px 10px 0 0;
}

.team__image {
  width: 215px;
  height: 286px;
}

.team__card-title {
 @include font-style($weight: 600, $color: $color-darkBlue);
  text-align: center;
  margin: 18px 0 0 0;
}

.team__member {
  @include text-italic-color;
  margin: 0;
}